@charset "utf-8";

/* BASIC */
/* icon */
@font-face {
    font-family: 'icon';
    src: url('https://cdn.jsdelivr.net/fontawesome/4.6.3/fonts/fontawesome-webfont.eot');
    src: url('https://cdn.jsdelivr.net/fontawesome/4.6.3/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/fontawesome/4.6.3/fonts/fontawesome-webfont.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/fontawesome/4.6.3/fonts/fontawesome-webfont.woff') format('woff'),
    url('https://cdn.jsdelivr.net/fontawesome/4.6.3/fonts/fontawesome-webfont.ttf') format('truetype'),
    url('https://cdn.jsdelivr.net/fontawesome/4.6.3/fonts/fontawesome-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* 웹폰트 */
@font-face {
  font-family: 'Nanum';
  font-style: normal;
  font-weight: 400;
  src: url(http://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot);
  src: url(http://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
       url(http://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff2) format('woff2'),
       url(http://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff) format('woff'),
       url(http://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum';
  font-style: normal;
  font-weight: 700;
  src: url(http://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot);
  src: url(http://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
       url(http://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff2) format('woff2'),
       url(http://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff) format('woff'),
       url(http://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum';
  font-style: normal;
  font-weight: 800;
  src: url(http://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.eot);
  src: url(http://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),
       url(http://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.woff2) format('woff2'),
       url(http://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.woff) format('woff'),
       url(http://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.ttf) format('truetype');
}
/*
* Font

@font-face {
  font-family: yoon;
  font-weight: 100;
  src: url('/fonts/YoonGothicPro710.eot');
  src: url('/fonts/YoonGothicPro710.woff') format('woff')
}

@font-face {
  font-family: yoon;
  font-weight: 200;
  src: url('/fonts/YoonGothicPro720.eot');
  src: url('/fonts/YoonGothicPro720.woff') format('woff')
}

@font-face {
  font-family: yoon;
  font-weight: 300;
  src: url('/fonts/YoonGothicPro730.eot');
  src: url('/fonts/YoonGothicPro730.woff') format('woff')
}

@font-face {
  font-family: yoon;
  font-weight: 400;
  src: url('/fonts/YoonGothicPro740.eot');
  src: url('/fonts/YoonGothicPro740.woff') format('woff')
}

@font-face {
  font-family: yoon;
  font-weight: 500;
  src: url('/fonts/YoonGothicPro750.eot');
  src: url('/fonts/YoonGothicPro750.woff') format('woff')
}

@font-face {
  font-family: yoon;
  font-weight: 600;
  src: url('/fonts/YoonGothicPro760.eot');
  src: url('/fonts/YoonGothicPro760.woff') format('woff')
}

@font-face {
  font-family: yoon;
  font-weight: 700;
  src: url('/fonts/YoonGothicPro770.eot');
  src: url('/fonts/YoonGothicPro770.woff') format('woff')
}

@font-face {
  font-family: yoon;
  font-weight: 800;
  src: url('/fonts/YoonGothicPro780.eot');
  src: url('/fonts/YoonGothicPro780.woff') format('woff')
}

@font-face {
  font-family: yoon;
  font-weight: 900;
  src: url('/fonts/YoonGothicPro790.eot');
  src: url('/fonts/YoonGothicPro790.woff') format('woff')
}
*/


* {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-text-size-adjust:none;}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,
del,dfn,em, img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,select,button,
ul,li,fieldset,form,label,legend,caption,tbody,tfoot,thead,tr,textarea {margin:0;padding:0;}
fieldset,img {border:0 none;}
dl,ul,ol,menu,li {list-style:none}
blockquote,q {quotes:none;}
blockquote:before,blockquote:after,q:before,q:after {content:"";content:none;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block;margin:0;padding:0;}
img {-ms-interpolation-mode:bicubic !important;}
input,select,textarea,button,img {vertical-align:middle;}
input[type="submit"], input[type="text"] {
   -webkit-appearance: none;
   -webkit-border-radius: 0;
}

textarea,input {margin:0;padding:0; line-height:1; color:inherit;}
table,th,td {margin:0;padding:0;border-spacing:0px; border-collapse:collapse !important;}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}
legend,caption{height:0;text-indent:-9999px;overflow:hidden;font-size:0;}
h1,h2,h3,h4,h5,h6 {font-family: 'Nanum';}
html {height:100%; overflow-y:auto;}
body {
	font-family: 'Nanum', dotum, '돋움', 'Arial Black', Arial, sans-serif;
	font-weight: 400;
	color:#000;
	font-size:14px;
	width:100%;
	min-width:1420px;
	overflow:hidden;
} 

a {text-decoration:none;color:inherit; *color:#4b4b4b;}
dl a:hover {text-decoration:none;color:inherit;*color:#4b4b4b;}
a:hover, li.on a {text-decoration:none;}
.end {background:none !important; margin-right:0 !important; padding-right:0 !important;}

.hidden {width:1px; height:1px; position:absolute; overflow:hidden; left:-9999px; font-size:0; visibility:hidden;}
.clear {clear:both;display:block;float:none;font-size:0 !important;height:0;line-height:0 !important;margin:0 !important;overflow:hidden;padding:0 !important;width:100%;}
.clearfix {*zoom:1;}
.clearfix:after {content:""; display:block; clear:both;font-size:0;}

ul.inline {*zoom:1;}
ul.inline:after {content:""; display:block; clear:both;font-size:0;}
ul.inline li {float:left; position:relative;}

.f_r {float:right;}
.f_l {float:left;}
.d_t {display:table; width:100%; height:100%;}
.d_c {display:table-cell; vertical-align:middle;}

.bd_none {border:none !important;}
.bg_none {background:none !important;}
.bg_fff {background:#fff !important;}
.t_l {text-align:left !important}
.t_c {text-align:center !important}
.t_r {text-align:right !important}
.m_t0 {margin-top:0 !important;}
.m_t2 {margin-top:2px !important;}
.m_t3 {margin-top:3px !important;}
.m_t5 {margin-top:5px !important;}
.m_t9 {margin-top:9px !important;}
.m_t10 {margin-top:10px !important;}
.m_t15 {margin-top:15px !important;}
.m_t20 {margin-top:20px !important;}
.m_t25 {margin-top:25px !important;}
.m_t30 {margin-top:30px !important;}
.m_t35 {margin-top:35px !important;}
.m_t40 {margin-top:40px !important;}
.m_t45 {margin-top:45px !important;}
.m_t50 {margin-top:50px !important;}
.m_t60 {margin-top:60px !important;}
.m_t65 {margin-top:65px !important;}
.m_t70 {margin-top:70px !important;}
.m_t75 {margin-top:75px !important;}
.m_t80 {margin-top:80px !important;}
.m_t90 {margin-top:90px !important;}
.m_t100 {margin-top:100px !important;}

.m_l0 {margin-left:0 !important;}
.m_l5 {margin-left:5px !important;}
.m_l7 {margin-left:7px !important;}
.m_l10 {margin-left:10px !important;}
.m_l15 {margin-left:15px !important;}
.m_l20 {margin-left:20px !important;}
.m_l25 {margin-left:25px !important;}
.m_l30 {margin-left:30px !important;}
.m_l35 {margin-left:35px !important;}
.m_l40 {margin-left:40px !important;}
.m_l45 {margin-left:45px !important;}
.m_l50 {margin-left:50px !important;}
.m_l60 {margin-left:60px !important;}
.m_l65 {margin-left:65px !important;}
.m_l70 {margin-left:70px !important;}
.m_l75 {margin-left:75px !important;}
.m_l100 {margin-left:100px !important;}
.m_l355 {margin-left:355px !important;}
.m_l360 {margin-left:360px !important;}

.m_r0 {margin-right:0 !important;}
.m_r5 {margin-right:5px !important;}
.m_r7 {margin-right:7px !important;}
.m_r10 {margin-right:10px !important;}
.m_r15 {margin-right:15px !important;}
.m_r20 {margin-right:20px !important;}
.m_r25 {margin-right:25px !important;}
.m_r30 {margin-right:30px !important;}
.m_r35 {margin-right:35px !important;}
.m_r40 {margin-right:40px !important;}
.m_r45 {margin-right:45px !important;}
.m_r50 {margin-right:50px !important;}

.m_b0 {margin-bottom:0 !important;}
.m_b5 {margin-bottom:5px !important;}
.m_b7 {margin-bottom:7px !important;}
.m_b10 {margin-bottom:10px !important;}
.m_b15 {margin-bottom:15px !important;}
.m_b20 {margin-bottom:20px !important;}
.m_b25 {margin-bottom:25px !important;}
.m_b30 {margin-bottom:30px !important;}
.m_b35 {margin-bottom:35px !important;}
.m_b40 {margin-bottom:40px !important;}
.m_b45 {margin-bottom:45px !important;}
.m_b50 {margin-bottom:50px !important;}
.m_b60 {margin-bottom:50px !important;}
.m_b70 {margin-bottom:70px !important;}
.m_b80 {margin-bottom:80px !important;}
.m_b90 {margin-bottom:90px !important;}
.m_b100 {margin-bottom:100px !important;}

.p_t0 {padding-top:0 !important;}
.p_t1 {padding-top:0 !important;}
.p_t5 {padding-top:5px !important;}
.p_t9 {padding-top:9px !important;}
.p_t10 {padding-top:10px !important;}
.p_t15 {padding-top:15px !important;}
.p_t20 {padding-top:20px !important;}
.p_t25 {padding-top:25px !important;}
.p_t30 {padding-top:30px !important;}
.p_t35 {padding-top:35px !important;}
.p_t40 {padding-top:40px !important;}
.p_t45 {padding-top:45px !important;}
.p_t50 {padding-top:50px !important;}
.p_t60 {padding-top:60px !important;}
.p_t65 {padding-top:65px !important;}
.p_t70 {padding-top:70px !important;}
.p_t75 {padding-top:75px !important;}
.p_t80 {padding-top:80px !important;}
.p_t90 {padding-top:90px !important;}
.p_t100 {padding-top:100px !important;}

.p_l0 {padding-left:0 !important;}
.p_l1 {padding-left:1 !important;}
.p_l5 {padding-left:5px !important;}
.p_l7 {padding-left:7px !important;}
.p_l10 {padding-left:10px !important;}
.p_l15 {padding-left:15px !important;}
.p_l20 {padding-left:20px !important;}
.p_l25 {padding-left:25px !important;}
.p_l30 {padding-left:30px !important;}
.p_l35 {padding-left:35px !important;}
.p_l40 {padding-left:40px !important;}
.p_l45 {padding-left:45px !important;}
.p_l50 {padding-left:50px !important;}
.p_l55 {padding-left:55px !important;}
.p_l60 {padding-left:60px !important;}
.p_l65 {padding-left:65px !important;}
.p_l70 {padding-left:70px !important;}
.p_l75 {padding-left:75px !important;}
.p_l100 {padding-left:100px !important;}
.p_l105 {padding-left:105px !important;}
.p_l355 {padding-left:355px !important;}
.p_l360 {padding-left:360px !important;}

.p_r0 {padding-right:0 !important;}
.p_r5 {padding-right:5px !important;}
.p_r7 {padding-right:7px !important;}
.p_r10 {padding-right:10px !important;}
.p_r15 {padding-right:15px !important;}
.p_r20 {padding-right:20px !important;}
.p_r25 {padding-right:25px !important;}
.p_r30 {padding-right:30px !important;}
.p_r35 {padding-right:35px !important;}
.p_r40 {padding-right:40px !important;}
.p_r45 {padding-right:45px !important;}
.p_r50 {padding-right:50px !important;}
.p_r60 {padding-right:60px !important;}
.p_r70 {padding-right:70px !important;}
.p_r80 {padding-right:80px !important;}

.p_b0 {padding-bottom:0 !important;}
.p_b5 {padding-bottom:5px !important;}
.p_b10 {padding-bottom:10px !important;}
.p_b15 {padding-bottom:15px !important;}
.p_b20 {padding-bottom:20px !important;}
.p_b25 {padding-bottom:25px !important;}
.p_b30 {padding-bottom:30px !important;}
.p_b35 {padding-bottom:35px !important;}
.p_b40 {padding-bottom:40px !important;}
.p_b45 {padding-bottom:45px !important;}
.p_b50 {padding-bottom:50px !important;}
.p_b60 {padding-bottom:60px !important;}
.p_b70 {padding-bottom:70px !important;}
.p_b80 {padding-bottom:80px !important;}
.p_b90 {padding-bottom:90px !important;}
/* //BASIC */

::-webkit-input-placeholder {color: #c9c9c9}
:-moz-placeholder {color: #c9c9c9} /* Firefox 18- */   
::-moz-placeholder {color: #c9c9c9;}  /* Firefox 19+ */  
:-ms-input-placeholder {color: #c9c9c9;}
input:-ms-input-placeholder{color:#c9c9c9;}
textarea:-ms-input-placeholder{color:#c9c9c9;}
